Repository LeonardM01/SyncMeet, pull requests merged in 2024-06, with the labels that each got.

#87 S3 bucket implementation
  backend/pom.xml
  backend/src/main/java/com/example/syncmeet/controller/BlogController.java
  backend/src/main/java/com/example/syncmeet/controller/UserController.java
  backend/src/main/java/com/example/syncmeet/dto/blog/BlogCreationRequestDTO.java
  backend/src/main/java/com/example/syncmeet/dto/user/ProfileImageURLChangeRequestDTO.java
  backend/src/main/java/com/example/syncmeet/error/GlobalExceptionHandler.java
  backend/src/main/java/com/example/syncmeet/service/BlogService.java
  backend/src/main/java/com/example/syncmeet/service/S3Service.java
  backend/src/main/java/com/example/syncmeet/service/UserService.java
  backend/src/main/java/com/example/syncmeet/service/impl/BlogServiceImpl.java
  backend/src/main/java/com/example/syncmeet/service/impl/S3ServiceImpl.java
  backend/src/main/java/com/example/syncmeet/service/impl/UserServiceImpl.java
  backend/src/main/resources/application.properties
Labels: feature, backend

#88 S3 bucket implementation from staging to main
  backend/pom.xml
  backend/src/main/java/com/example/syncmeet/controller/BlogController.java
  backend/src/main/java/com/example/syncmeet/controller/UserController.java
  backend/src/main/java/com/example/syncmeet/dto/blog/BlogCreationRequestDTO.java
  backend/src/main/java/com/example/syncmeet/dto/user/ProfileImageURLChangeRequestDTO.java
  backend/src/main/java/com/example/syncmeet/error/GlobalExceptionHandler.java
  backend/src/main/java/com/example/syncmeet/service/BlogService.java
  backend/src/main/java/com/example/syncmeet/service/S3Service.java
  backend/src/main/java/com/example/syncmeet/service/UserService.java
  backend/src/main/java/com/example/syncmeet/service/impl/BlogServiceImpl.java
  backend/src/main/java/com/example/syncmeet/service/impl/S3ServiceImpl.java
  backend/src/main/java/com/example/syncmeet/service/impl/UserServiceImpl.java
  backend/src/main/resources/application.properties
Labels: feature, backend

#89 Tests for User service and controller
  backend/src/test/java/userTests/UserControllerTest.java
  backend/src/test/java/userTests/UserServiceImplTest.java
Labels: backend

#93 Merging tests to main
  backend/src/main/java/com/example/syncmeet/controller/BlogController.java
  backend/src/main/java/com/example/syncmeet/controller/UserController.java
  backend/src/main/java/com/example/syncmeet/service/impl/S3ServiceImpl.java
  backend/src/test/java/userTests/UserControllerTest.java
  backend/src/test/java/userTests/UserServiceImplTest.java
Labels: backend

#98 Added user credentials(first and last name) to User entity
  backend/src/main/java/com/example/syncmeet/controller/UserController.java
  backend/src/main/java/com/example/syncmeet/dto/user/UserCredentialsChangeRequestDTO.java
  backend/src/main/java/com/example/syncmeet/dto/user/UserDTO.java
  backend/src/main/java/com/example/syncmeet/dto/user/UserSignUpRequestDTO.java
  backend/src/main/java/com/example/syncmeet/model/User.java
Labels: backend

#99 Implemented Cors filter
  backend/src/main/java/com/example/syncmeet/config/SecurityConfig.java
  backend/src/main/java/com/example/syncmeet/controller/BlogController.java
  backend/src/main/java/com/example/syncmeet/controller/CommentController.java
  backend/src/main/java/com/example/syncmeet/controller/EventController.java
  backend/src/main/java/com/example/syncmeet/controller/UserController.java
  backend/src/main/java/com/example/syncmeet/error/ErrorResponse.java
  backend/src/main/java/com/example/syncmeet/error/GlobalExceptionHandler.java
Labels: backend

#100 Swagger docs for user credentials change
  backend/src/main/java/com/example/syncmeet/controller/UserController.java
Labels: documentation, backend

#101 Update to UserController
  backend/src/main/java/com/example/syncmeet/controller/UserController.java
Labels: bug, backend
